#main-menu a:after {
    display:block;
    content: '';
    border-bottom: solid 2px rgb(55 113 200);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
#main-menu a:hover:after { transform: scaleX(1); }

#footer a {
    padding-left: 10px;
}

#footer a svg {
    transform: scale(1.5);
}

#footer a:hover {
    color: rgb(55 113 200);
}

#footer svg:hover {
    fill: rgb(55 113 200);
}

#footer path:hover {
    fill: rgb(55 113 200);
}

.ol-container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.ol-container h1 {
    border-bottom: solid 1px black;    
}

.ol-container h2 {
    border-bottom: solid 1px black;
}

/* #logo * {
    outline: 1px solid red;
} */