#main-menu a:after {
    display:block;
    content: '';
    border-bottom: solid 2px rgb(55 113 200);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
#main-menu a:hover:after { transform: scaleX(1); }

/* #logo * {
    outline: 1px solid red;
} */